*{
    text-decoration: none;
}

:root {
    --tamanho-borda: 20px
}

.imagem{
    border-top-left-radius: var(--tamanho-borda);
    border-top-right-radius: var(--tamanho-borda);
}

.info{
    background-color: black;
    color: white;
    height: 15vh;
    border-bottom-right-radius: var(--tamanho-borda);
    border-bottom-left-radius: var(--tamanho-borda);
    text-align: center;
}

p{
    padding-top: 3px;
}